/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: 'Ubuntu', sans-serif;
	background-image: url(../img/bookshelf.png);
}

h1,h2, h3 {
    text-align: center;
    margin: 10px 0;
}

.center {
    text-align: center;
}

a {
    color: #000;
	text-decoration: none;
}

.title{
	padding-top:10px;
	font-family: 'Press Start 2P', cursive;
}

.subTitle
{
    margin-left: 30px;
}

.wrapper {
    width: 1000px;
    margin: 0px auto;
    background-image: url(../img/wool_colored_light_blue.png);
	
	-webkit-box-shadow: 0px 0px 6px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 6px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 6px 6px rgba(50, 50, 50, 0.75);
}

.nav
{
	width:1000px;
	top:16px;
	text-align:center;
}

.nav ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.nav li
{
	display:inline-block;
}

.nav a
{
	margin:10px;
	padding:10px; 
	color: #fff;
	text-decoration: none;
	background-image: url(../img/wool_colored_blue.png);
	
	-webkit-box-shadow: 0px 0px 6px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 6px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 6px 6px rgba(50, 50, 50, 0.75);
}

.jquery3ItemDisplay
{
    width: 1000px;
    height: 284px;
    background-image: url(../img/wool_colored_white.png);
    text-align: center;
}

.jquery3PeopleDisplay
{
    width: 1000px;
    height: 500px;
	background-image: url(../img/wool_colored_white.png);
    text-align: center;
}

.item1, .item2, .item3
{
    cursor: pointer;
    display: inline-block;
    margin-top: 32px;
}

.displayHelper
{
    font-size: 20pt;
    font-weight: bold;
}

.item2
{
    margin-left: 50px;
    margin-right: 50px;
}

img {
    display: block;
}


.item2Content, .item3Content
{
    display: none;
}

.featuredVideo
{

}
 
.contentBox {
    width: 1000px;
	background-image: url(../img/wool_colored_lime.png);
    padding: 10px 0;
}

.contentBox  p {
    margin: 10px 30px;
}

.fontbackground{
    margin: 10px 30px;
    background-image: url(../img/fontbackground.png);
    padding: 10px 0;
}

.footer
{
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 10pt;
	font-weight: bold;
}

.lightboxImage, .portfolioImage
{
    display: inline;
    float: left;
    margin: 10px 30px;
    background-image: url(../img/planks_jungle.png);
    padding: 10px;
}

.lightboxImageCentered
{
    width: 800px;
    margin: 10px auto;
    background-image: url(../img/planks_jungle.png);
    padding: 10px;
}

.lightboxImage, a img
{
    display: inline;
}

.lightboxImage span, .portfolioImage span, .lightboxImageCentered span
{
    display: block;
    margin: 5px auto 0px auto;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
}

.graph
{
    margin: 0 auto;
}

.graphComment
{
    text-align: center;
}

/*
END OF OUR CSS
*/




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}